.header {
  width: 100%;
  background: #3380FF;
}
.header1 {
  width: 100%;
  background: #66ff66;
}
.header2{
  width: 100%;
  background: #ffff66;;
}
.header3{
  width: 100%;
  background: #FF0000;
}


.body {
	margin-right: 10%;
    margin-left: 10%;
    font-family: Tahoma;
    font-size:16px;

}

.calendar {
	display: inline-block;

}
.calendar table{
	height:30vh;
	width:80vm;
}
.calendar p{
	font-size: 86px;
  	color: #fff;
  	-webkit-text-stroke: 2px black;
  	border-radius: 50%;
  	width: 100%;
    height: 3em;
    padding: 23px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    line-height: 3em;
    display: table-cell; 
}

.calendar h1 {
	text-align: center;	
}

.calendar tbody td:hover {
	border: 2px solid #FF00FF;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	width: 2em;
	overflow: hidden; 
	text-overflow: ellipsis;
	opacity:1;

}

.calendar .prevmonth ,
.calendar .nextmonth {
	color: #cbd1d2;
}

.calendar .prevmonth:hover,
.calendar .nextmonth:hover {
	border: 2px solid #cbd1d2;
}
.winter{
	border: 2px solid black;
    top:2em;
	display: flex;
	justify-content: space-around;
	flex:1;
	padding-top: 2em;
	margin-bottom: 2em;
}

.spring {
	border: 2px solid black;
    top:5em;
    display: flex;
    justify-content: space-around;
    flex:1;
    padding-top: 2em;
	margin-bottom: 2em;
}

.summer{
	border: 2px solid black;
    top:5em;
	display: flex;
	justify-content: space-around;
	flex:1;
	padding-top: 2em;
	margin-bottom: 2em;
}
.fall {
	border: 2px solid black;
    top:5em;
	display: flex;
	justify-content: space-around;
	padding-top: 2em;
	margin-bottom: 2em;
}

.year {
	margin: 2em;
	text-align: center;
}



@media screen and (max-width: 1170px) {
	
	.winter {
  	display:inherit;
  	padding-left: 0%;
  	padding-right: 0%;
  	text-align:center;
  	font-size:3vh;/*3% of viewport’s height, we need a relative height because different screens has different pixel ratio*/

}

.spring {
    display:inherit; 
padding-left: 0%;
  	padding-right: 0%;
  	  	text-align:center;
  	  	  	    font-size:3vh;


}
.summer{   
	display:inherit;
padding-left: 0%;
  	padding-right: 0%;
  	  	text-align:center;
  	  	  	    font-size:3vh;


}
.fall {
	display:inherit;
padding-left: 0%;
  	padding-right: 0%;
  	  	text-align:center;
  	  	  	    font-size:3vh;

}
.calendar {
    text-align:center;
}
}

@media  (max-width: 1000px) {
.calendar {
	padding-left:0%;
    padding-right:0%;
}
.calendar tbody td:hover {
	border: 2px solid #FF00FF;
}
.calendar p{
    font-family: Tahoma;
  	color: #fff;
  	-webkit-text-stroke: 2px black;
  	border-radius: 50%;
    height: 3em;
    padding: 25px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    line-height: 3em;
    display: table-cell; 
}
.calendar td{
    font-family: inherit;
	border: 1px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 1.5em;
	line-height: 1em;
	text-align: center;
	width: 1.5em;
}	

}


.opacity {
	opacity: 0.3;
	z-index:-1;
	position: absolute;
	display: flex;
    height: calc(30vh - 100px);
}